h3 {
   text-align: center;
   text-decoration: underline;
}

p-style {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: bold;
}

.skills {
   color: green;
}

.ol-style {
   color: black;
   text-align: center;
   list-style-type: upper-roman;
}